<<<<<<< HEAD
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

=======
>>>>>>> 4afacca1c7ea0154f7af8f225fd1158c761ac030
$acceVerde: #84a640;
$acceAzul: #396696;

h1 {
    color: $acceVerde;

    s {
        color: $acceAzul;
    }
}