@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: red;
}

header nav {
    background-color: black;
}

main {
    margin: 0% auto;
    background-color: chartreuse;
}

footer {
    background-color: blue;
}

.card {
    background-color: #999;
}

#services{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}