<main class="container-fluid">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 p-3 mx-auto border rounded border-dark bg-login container-login">
              <div class="col-5 mx-auto">
                 <img src="img/Logoex.PNG" class="my-2 mx-auto"/>
              </div>
              <div class="col-5 mx-auto pb-5">
                <form method="Post">
                    <label for="inputEmail" class="font-weight-bold">Email:</label><br>
                    <input type="email" name="email" class="form-control" placeholder="Email" required/><br>
                    <label class="font-weight-bold">nombre:</label><br>
                    <input type="text" name="name" class="form-control" placeholder="name" required><br><br>
                    
                    
                        <button class="btn btn-lg btn-primary active" type="submit">
                           Enviar mensaje
                        </button>
                </form>
              </div>
          </div>
        </main>