{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" data-toggle="tooltip" data-placement="bottom" title="js de bootstrap funcionando :)" >Hola <s>Acceseo</s> acceseo!</h1>
{% endblock %}