{% extends 'base.html.twig' %}

{% block body %}

    <header>
 

        <img src="LOGo">
         <img src="../assets/img/user.png" width="50px" height="50px" class="float-right">
         
          <button onclick="window.location.href='/editarContacto'" >Editar perfil</button>

        <h1>TITULO WEB</h1>

        <!--MENU CON BOOSTRAP-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>    
          </div>
        </nav>
    </header>

    <main>

      <fieldset>
        <legend>CREAR CIUDAD</legend>
        <form action="./createCity" method="POST">
          Nombre: <input type="text" name="name">
          <input type="submit" value="Crear ciudad">
        </form>
      </fieldset>

      <fieldset>
        <legend>CREAR CATEGORÍA</legend>
        <form action="/createCategory" method="POST" enctype="multipart/form-data">
          Nombre: <input type="text" name="name">
          Imagen: <input type="file" name="img">
          <input type="submit" value="Crear categoria">
        </form>
      </fieldset>
      
      <fieldset>
        <legend>CREAR SERVICIO</legend>
        <form action="./createService" method="POST" enctype="multipart/form-data">
          Nombre: <input type="text" name="name">
          
          Categoría: <select name="category">
            {% for category in all_category %}
              <option value="{{category.getId}}">{{category.getName}}</option>
            {% endfor %}
          </select>
          
          Imagen: <input type="file" name="img">
          
          <input type="submit" value="Crear servicio">
        </form>
      </fieldset>


      <fieldset>
        <legend>ENVIAR MENSAJE</legend>
        <form action="./createMessage" method="POST">
          
          Destinatario: <select name="userReciving">
            {% for user in all_users %}
              <option value="{{user.getId}}">{{user.getEmail}}</option>
            {% endfor %}
          </select>
          
          Cuerpo del mensaje: <textarea cols="30" rows="5" name="bodyMessage"></textarea>

          <input type="submit" value="Enviar mensaje">
        </form>
      </fieldset>

    </main>


    <footer>
        <form action="" method="POST">

            Email: <input type="text" name="email">
            Nombre: <input type="text" name="name">
            Teléfono: <input type="text" name="telephone">
            Comentario: <textarea cols="30" rows="5" name="text"></textarea>
            <input type="submit" name="send" value="Contactar">
        </form>
    </footer>





























{% endblock %}