<nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark sticky-top bg-info">
        <a class="navbar-brand" href="#" onclick="window.location.href='/'"><img src="img/Logomenu.png"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" onclick="window.location.href='/'">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="window.location.href='/contacto'">Contactanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Virus
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Contenido</a>
                <a class="dropdown-item" href="#">Reglas</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Saboteur
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Contenido</a>
                <a class="dropdown-item" href="#">Reglas</a>
              </div>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
          
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="img/user.png" width="50px" height="50px">
              </a>
          
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">mensajes</a>
                <a class="dropdown-item" href="#">editar datos</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
            <button class="btn btn-outline-warning my-2 mx-1 my-sm-0" type="button" onclick="window.location.href='/login'">Login</button> 
            <button class="btn btn-outline-warning my-2 mx-1 my-sm-0" type="button" onclick="window.location.href='/register'">Registrarse</button>

          </div>
        </div>
      </nav>