<nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark sticky-top bg-info">
    <a class="navbar-brand" href="#" onclick="window.location.href='/'">
        <img src="img/Logomenu.png"></img>
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" onclick="window.location.href='/'">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="window.location.href='/contacto'">Contactanos</a>
            </li>
        </ul>
          <div class="form-inline my-2 pr-5">
            {% if (user is defined) and (user != 'anon.') %}
               <ul class="navicon navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="img/user.png" width="50px" height="50px" class="mr-4">
              </a>
      
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./areaprivada">{{user.name}}</a>
                <a class="dropdown-item" href="./areaprivada/#crearservicio">Crear servicio</a>
                <a class="dropdown-item" href="./areaprivada/#enviarmensaje">Enviar mensaje</a>
                <a class="dropdown-item" href="./areaprivada/#mensajes">Mensajes</a>
                <a class="dropdown-item" href="./editarPerfil">Editar datos</a>
                <!--ESTO SOLO APARECE SI ERES ADMINISTRADOR-->
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="./areaprivada/#administracion">administracion</a>
                {% endif %}
                <a class="dropdown-item" href="./logout">Cerrar sesión</a>
              </div>
            </li>
          </ul>
              {% else %}
                <button class="btn btn-outline-warning my-2 mx-1 my-sm-0" type="button" onclick="window.location.href='/login'">Login</button> 
                <button class="btn btn-outline-warning my-2 mx-1 my-sm-0" type="button" onclick="window.location.href='/register'">Registrarse</button>
            {% endif %}
            </div>
        </div>
    </nav>
