    <!-- Footer -->
    <footer id="footer" class="page-footer-fixed-botton font-small bg-info text-white">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Grid row-->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12 py-5">
            <div class="flex-center text-center bg-info">

              <!-- Facebook -->
              <a class="fb-ic text-white" href="#">
                <i class="fab fa fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic text-white" href="#">
                <i class="fab fa fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic text-white" href="#">
                <i class="fab fa fa-google-plus fa-lg mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic text-white" href="#">
                <i class="fab fa fa-linkedin fa-lg mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic text-white" href="#">
                <i class="fab fa fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic text-white" href="#">
                <i class="fab  fa fa-pinterest fa-lg fa-2x"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 bg-info"><p>Copyright © 2019 ExChange. All Rights Reserved.</p>
        <p>Web designer by ChanaCity group SL. </p>
      </div>
      <!-- Copyright -->

    </footer>
  </body>
</html>